/* --------------------------------------- */
/* ----- Basic Setup ----- */
/* --------------------------------------- */

@font-face {
  font-family: "Hk Grotesk";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/HKGrotesk-Regular.woff") format("woff");
}

@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Jost-Regular.ttf") format("woff");
}

@font-face {
  font-family: "Change One";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Changa-One.ttf") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  cursor: none;
  font-family: var(--font-stack);
}

:root {
  --font-size-small: 1.8rem;
  --font-size-normal: 2.2rem;
  --font-size-medium: 2.8rem;
  --font-size-medium-1: 3.6rem;
  --font-size-large: 5.5rem;
  --font-size-huge: 7.5rem;
  --font-stack: "Change One", "Hk Grotesk", sans-serif;

  --line-height-normal: 1.7;
  --line-height-small: 1.2;

  --black: #000;
  --black-card: #151515;
  --orange: #ff851b;
  --white: #f0e9f2;
  --white-1: #e5e5e6da;

  --container-max-width: 1180px;
  --container-normal-width: 800px;
  --container-medium-width: 700px;
  --container-small-width: 500px;

  --gutter-huge: 12rem;
  --gutter-medium: 6rem;
  --gutter-normal: 3rem;
  --gutter-small-1: 2.5rem;
  --gutter-small: 2rem;

  --border-light: 1px solid rgb(36, 35, 35);
}

html {
  font-size: 62.5%; /* (16/10)*100 = 62.5% => 1rem = 10px */
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@media (max-width: 1000px) {
  html {
    font-size: 52%;
  }
}

body {
  font-size: var(--font-size-small);
  font-family: var(--font-stack);
  font-weight: 400;
  color: var(--white-1);
  line-height: var(--line-height-normal);
  background: var(--black);
  overflow-x: hidden;
  cursor: none;
}

.row {
  max-width: var(--container-max-width);
  margin: 0 auto;
}

@media (max-width: 1340px) {
  .row {
    max-width: 1100px;
  }
}

@media (max-width: 1240px) {
  .row {
    padding: 0 var(--gutter-medium);
  }
}

@media (max-width: 600px) {
  .row {
    padding: 0 var(--gutter-normal);
  }
}

@media (max-width: 600px) {
  .row {
    padding: 0 var(--gutter-small);
  }
}

section {
  padding: var(--gutter-huge) 0;
  border-bottom: var(--border-light);
}

img {
  object-fit: contain;
  max-width: 100%;
}

/* --------------------------------------- */
/* ----- Headlines and Paragraphs ----- */
/* --------------------------------------- */

h1,
h2,
h3 {
  font-family: "Change One";
  font-weight: 400;
  line-height: var(--line-height-small);
  color: var(--white);
}

.heading-primary {
  line-height: 1;
  font-size: var(--font-size-huge);
  font-weight: 400;
}

@media (max-width: 900px) {
  .heading-primary {
    font-size: 6.5rem;
  }
}

h2 {
  font-size: var(--font-size-large);
  margin-bottom: var(--gutter-medium);
}

h2::after {
  content: "";
  display: block;
  height: 2px;
  width: 10rem;
  background: var(--orange);
  margin: var(--gutter-small) 0;
}

h3 {
  font-size: var(--font-size-medium-1);
  margin-bottom: var(--gutter-small);
}

@media (max-width: 500px) {
  .heading-primary {
    font-size: var(--font-size-large);
  }

  h2 {
    font-size: var(--font-size-medium-1);
  }

  h3 {
    font-size: var(--font-size-medium);
  }
}

p {
  margin: var(--gutter-small-1) 0;
}

@media (max-width: 900px) {
  p {
    max-width: var(--container-small-width);
  }
}

/* Cursor */

.cursor-dot {
  height: 5px;
  width: 5px;
  background-color: white;
}

.cursor-outline {
  height: 50px;
  width: 50px;
  border: 2px solid hsla(0, 0%, 100%, 0.5);
}

.cursor-dot,
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 20;
  pointer-events: none;
}

/* --------------------------------------- */
/* ----- Buttons and Links ----- */
/* --------------------------------------- */

a {
  color: var(--white);
  font-weight: 400;
  transition: all 0.2s;
  outline: 2px solid transparent;
}

::-moz-focus-inner {
  border: 0;
}

button:focus,
a:focus {
  outline: 2px solid var(--orange);
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) a:focus {
  outline: none;
}

.link:hover {
  color: var(--orange);
}

.btn {
  position: relative;
  display: inline-block;
  padding: 1rem 4.2rem;
  text-decoration: none;
  color: inherit;
  border: 1px solid var(--orange);
  border-radius: 30px;
  font-weight: 400;
}

#hero-btn {
  display: flex;
  flex-direction: row;
  gap: var(--gutter-medium);
}

.btn--icon {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  padding: 1rem 4.2rem;
  text-decoration: none;
  color: inherit;
  border: 1px solid var(--orange);
  border-radius: 40px;
  font-weight: 400;
}

.icon--container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  display: inline;
  height: var(--gutter-normal);
  /* margin-left: var(--gutter-normal); */
  transition: all 0.3s;
}

.icon:hover {
  transform: scale(1.2);
  filter: invert(100%) grayscale(100%) opacity(0.8);
}

.btn:focus {
  outline: none;
}

.btn::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  background: var(--white);
  height: 100%;
  z-index: -1;
  transition: all 0.2s cubic-bezier(1, 0.68, 0.16, 0.9);
}

.btn:hover::after,
.btn:focus::after {
  right: 0;
  background: var(--orange);
}

.btn--orange {
  background: var(--orange);
  transition: all 0.2s;
}

.btn--orange::after {
  display: none;
}

.btn--orange:hover,
.btn--orange:focus {
  background: transparent;
}

.link__text {
  position: relative;
  display: inline-block;
  padding: 0.6rem;
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid var(--orange);
}

.link__text::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  background: var(--white);
  height: 100%;
  z-index: -1;
  transition: all 0.2s cubic-bezier(1, 0.68, 0.16, 0.9);
}

.link__text:focus {
  outline: none;
}

.link__text:hover::after,
.link__text:focus:after {
  right: 0;
  background: var(--orange);
}

.link__text span {
  padding-left: 1rem;
}

/* ----- Back to Top ----- */

.back-to-top {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.5rem;
  width: 5.5rem;
  background-color: var(--orange);
  border-radius: 50%;
  z-index: 10;
  visibility: hidden;
  transition: all 0.4s;
}

.back-to-top__image {
  height: 70%;
}

@media (max-width: 900px) {
  .back-to-top {
    right: 2rem;
  }
}

@media (max-width: 500px) {
  .back-to-top {
    right: 1rem;
  }
}

/* --------------------------------------- */
/* ----- Navigation ----- */
/* --------------------------------------- */

.nav {
  display: flex;
  justify-content: flex-end;
  padding: var(--gutter-normal) 0;
}

.nav__items {
  display: flex;
  list-style: none;
}

.nav__item:not(:last-child) {
  margin-right: var(--gutter-medium);
}

@media (max-width: 500px) {
  .nav {
    justify-content: center;
  }
}

@media (max-width: 400px) {
  .nav__item:not(:last-child) {
    margin-right: var(--gutter-normal);
  }
}

@media (max-width: 300px) {
  .nav {
    font-size: var(--font-size-small);
  }
}

.nav__link {
  position: relative;
  display: inline-block;
  padding: 1rem 0;
  text-decoration: none;
  color: inherit;
  transition: all 0.2s;
}

.nav__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 100%;
  display: inline-block;
  height: 1rem;
  background: var(--white);
  transition: all 0.25s cubic-bezier(1, 0.68, 0.16, 0.9);
}

.nav__link:hover {
  color: var(--orange);
}

.nav__link:hover::after {
  right: 0;
  height: 2px;
  background: var(--orange);
}

/* --------------------------------------- */
/* ----- Header ----- */
/* --------------------------------------- */

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)),
    url("./images/header.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-size: var(--font-size-normal);
}

.header__text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.header__text p {
  margin: 1.5rem 0 3.5rem;
  max-width: var(--container-medium-width);
  font-size: var(--font-size-medium);
}

@media (max-width: 500px) {
  .header {
    text-align: center;
  }

  .header__text p {
    transform: scale(0.8);
  }
}

/* --------------------------------------- */
/* ----- Work ----- */
/* --------------------------------------- */

.work__box {
  display: flex;
  align-items: center;
}

@media (max-width: 900px) {
  .work__box {
    align-items: initial;
    flex-direction: column-reverse;
  }
}

.work__box:not(:last-child) {
  margin-bottom: 25rem;
}

@media (max-width: 500px) {
  .work__box:not(:last-child) {
    margin-bottom: 20rem;
  }
}

.work__links {
  display: flex;
  align-items: center;
}

.work__text {
  flex: 0 0 30%;
}

.work__list {
  /* list-style-type: square; */
  list-style-position: inside;
  margin-bottom: var(--gutter-normal);
}

.work__code {
  display: block;
  height: 3rem;
  margin-left: var(--gutter-normal);
  transition: all 0.3s;
}

.work__code:hover {
  transform: scale(1.2);
}

.work__image-box {
  margin-bottom: var(--gutter-normal);
}

@media (min-width: 901px) {
  .work__image-box {
    flex: 1;
    margin: 0 0 0 10rem;
  }
}

@media (max-width: 900px) {
  .work__code {
    height: 4rem;
  }

  .icon {
    height: 4rem;
  }
}

/* --------------------------------------- */
/* ----- Clients ----- */
/* --------------------------------------- */

.client__logos {
  display: flex;
  justify-content: space-around;
  filter: invert(100%) grayscale(100%) opacity(0.8);
}

.client__logo {
  height: 6.5rem;
  max-width: 18rem;
}

@media (max-width: 1240px) {
  .client__logos {
    overflow-x: scroll;
    padding: var(--gutter-normal);
  }

  .client__logo:not(:last-of-type) {
    margin-right: var(--gutter-medium);
  }
}

/* --------------------------------------- */
/* ----- About ----- */
/* --------------------------------------- */

.about__content {
  display: flex;
  align-items: center;
}

@media (max-width: 900px) {
  .about__content {
    flex-direction: column-reverse;
    align-items: initial;
  }
}

.about__photo-container {
  margin-bottom: var(--gutter-normal);
}

@media (min-width: 901px) {
  .about__text {
    /* flex: 0 0 35%; */
    margin-right: var(--gutter-huge);
  }

  .about__photo-container {
    flex: 1;
    margin: 0 var(--gutter-huge) 0 0;
  }
}

.about__team {
  display: flex;
  justify-content: space-around;
  margin-bottom: var(--gutter-medium);
}

.team-member {
  text-align: center;
}

.team-member img {
  width: 100%;
  height: auto;
  border-radius: 50%; /* Circular profile pictures */
  margin-bottom: var(--gutter-small);
}

.team-member h3 {
  font-size: var(--font-size-medium);
  margin: var(--gutter-small) 0;
}

.team-member p {
  font-size: var(--font-size-small);
  color: var(--white-1);
}

/* --------------------------------------- */
/* ----- Contact ----- */
/* --------------------------------------- */

.contact__info {
  max-width: var(--container-medium-width);
}

/* --------------------------------------- */
/* ----- Footer ----- */
/* --------------------------------------- */

.footer {
  text-align: center;
  padding: var(--gutter-medium) 0 var(--gutter-normal);
}

.footer__social-links {
  display: flex;
  justify-content: center;
  padding: var(--gutter-normal) 0;
  list-style: none;
}

.footer__social-link-item:not(:last-of-type) {
  margin-right: var(--gutter-small);
}

.footer__social-image {
  height: 4rem;
}

.footer__github-buttons {
  display: flex;
  justify-content: center;
}

.footer__github-buttons iframe {
  height: 2.5rem;
  width: 84px;
  transform: translateY(3px);
}

@media (max-width: 500px) {
  .footer {
    padding: var(--gutter-medium) 0;
  }
}

/* Services Section */
.services__boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--gutter-normal);
  margin-top: var(--gutter-medium);
}

.services__box {
  background: var(--black-card);
  border-radius: 8px;
  padding: var(--gutter-normal);
  text-align: center;
  transition: transform 0.3s;
}

.services__box:hover {
  transform: translateY(-5px);
}

.services__icon {
  width: 80px;
  height: 80px;
  /* margin: 0 auto var(--gutter-normal); */
  margin-bottom: var(--gutter-normal);
  background: var(--orange);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services__icon img {
  width: 40px;
  height: 40px;
}

.services__cta {
  text-align: center;
  margin-top: var(--gutter-huge);
  display: flex;
  justify-content: center;
}

/* Portfolio Section */
.portfolio__filters {
  display: flex;
  justify-content: center;
  gap: var(--gutter-small);
  margin-bottom: var(--gutter-medium);
  flex-wrap: wrap;
}

.filter-btn {
  padding: 0.8rem 2rem;
  border: 1px solid var(--orange);
  border-radius: 30px;
  background: transparent;
  color: var(--white);
  cursor: pointer;
  transition: all 0.3s;
}

.filter-btn.active,
.filter-btn:hover {
  background: var(--orange);
  color: var(--white);
}

.work__boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: var(--gutter-medium);
  margin-bottom: var(--gutter-medium);
}

.work__image-box {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.work__image {
  width: 100%;
  height: auto;
  transition: transform 0.3s;
}

.work__box:hover .work__image {
  transform: scale(1.05);
}

.work__text {
  padding: var(--gutter-small);
  text-align: center;
}

/* Responsive Adjustments */
@media (max-width: 900px) {
  .services__boxes {
    grid-template-columns: 1fr;
  }

  .work__boxes {
    grid-template-columns: 1fr;
  }
}

/* Button Styles */
.btn--large {
  padding: 1.5rem 5rem;
  font-size: var(--font-size-medium);
}

.btn--yellow {
  background: var(--orange);
  color: var(--white);
}

.btn--yellow:hover {
  background: transparent;
  color: var(--orange);
}

/* Why Choose Us Section */
.choose-us {
  padding: var(--gutter-medium) 0;
  background-color: var(--bg-dark);
}

.choose-us__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--gutter-normal);
  margin-top: var(--gutter-medium);
}

.choose-us__content {
  display: flex;
  flex-direction: column;
  gap: var(--gutter-medium);
}

.choose-us__item {
  border: var(--border-light);
  background: var(--black-card);
  padding: var(--gutter-medium);
  border-radius: 8px;
  transition: all 0.3s ease;
}

.choose-us__item.active {
  background: var(--orange);
}

.choose-us__item h3 {
  font-size: 2.4rem;
  margin-bottom: var(--gutter-small);
}

.choose-us-btn__container {
  margin-top: var(--gutter-medium);
  display: flex;
  justify-content: center;
}

/* Updated Footer Styles */
.footer {
  position: relative;
  margin-top: var(--gutter-small);
}

.footer__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--gutter-huge);
  margin-bottom: var(--gutter-huge);
}

.footer__section h4 {
  font-size: 2rem;
  margin-bottom: var(--gutter-normal);
  color: var(--bg-dark);
}

.footer__section ul {
  list-style: none;
}

.footer__section ul li {
  margin-bottom: var(--gutter-small);
}

.footer__section ul li a {
  color: var(--bg-dark);
  text-decoration: none;
  transition: opacity 0.3s;
}

.footer__section ul li a:hover {
  opacity: 0.8;
}

.footer__team {
  display: flex;
  justify-content: center;
  gap: var(--gutter-medium);
  margin-bottom: var(--gutter-huge);
}

.team-member {
  text-align: center;
}

.team-member img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: var(--gutter-small);
}

.team-member span {
  display: block;
  color: var(--bg-dark);
  font-weight: 500;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--gutter-medium);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer__certificates {
  display: flex;
  gap: var(--gutter-normal);
}

.footer__certificates img {
  height: 40px;
  width: auto;
}

/* Responsive Adjustments */
@media (max-width: 900px) {
  .choose-us__container {
    grid-template-columns: 1fr;
  }

  .footer__content {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gutter-medium);
  }

  .footer__team {
    flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  .footer__content {
    grid-template-columns: 1fr;
  }

  .footer__bottom {
    flex-direction: column;
    gap: var(--gutter-medium);
    text-align: center;
  }
}

.portfolio-gallery {
  padding: 2rem 0;
}

.portfolio__filters {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.filter-btn {
  margin: var(--gutter-small);
  padding: var(--gutter-small);
  width: 20%;
  background-color: var(--white-1);
  border: none;
  cursor: pointer;
  font-size: var(--font-size-small);
}

.filter-btn:hover {
  background-color: var(--orange);
}

.filter-btn.active {
  background-color: var(--orange); /* Highlight active filter */
}

.portfolio__boxes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.portfolio__box {
  margin: 1rem;
  width: 30%; /* Adjust width as needed */
  height: 100%;
  position: relative;
  border-style: solid;
  border-width: 15px 15px 15px 15px;
  border-color: var(--white-1);
}

.portfolio__box__iframe {
  width: 100%;
  border-style: none;
}

@media (min-width: 900px){
  .portfolio__box {
    height: 450px;
  }

  .portfolio__box__iframe {
    height: 420px;
  }
  
  .portfolio__cta {
    width: 100%;
  }
}

.portfolio__box img {
  width: 100%;
  height: auto;
  border-radius: 8px; /* Optional: for rounded corners */
}

.portfolio__text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 1rem;
  text-align: center;
  border-radius: 0 0 8px 8px; /* Optional: for rounded corners */
}

.portfolio__cta {
  text-align: end;
  margin-top: var(--gutter-medium);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
